.input-icon-form,
.input-pass-icon-form {
  position: relative;
}

.input-icon-form input {
  padding-right: 30px;
}

.input-pass-icon-form Input {
  padding-right: 70px;
}

.check-icon {
  color: #388e3c;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.error-icon {
  color: #d32f2f;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.pass-toggle-icon {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}

/* Hide browser's built-in password toggler */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-text-security {
  letter-spacing: 0px;
}
